a {
  //removes hyperlink blue text and underlines
  color: inherit;
  text-decoration: inherit;
}

.fade {
  //margin: 50px;
  padding: 50px;
  opacity: 1;
}

body {
  //background-color: #f2f2f2;
  font-family: 'Playfair Display SC', serif;
}

.test {
  padding-top: 50px;
  padding-bottom: 50px;
}

//-----------------------------

.heading {
  //background-color: gray;
}

.heading-picture {

}

.heading-name {
  text-align: center;
}

.heading-content {
  text-align: center;
}

//-----------------------------

.about {
  //background-color: pink;
  background-color: #f2f2f2;
}

.about-title {
  text-align: center;
}

.about-content {
  text-align: center;
}

//-----------------------------

.interest {
  //background-color: blue;
}

.interest-title {
  text-align: center;
}

.interest-content {
  text-align: center;
}

//-----------------------------

.project {
  //background-color: green;
  background-color: #f2f2f2;
}

.project-title {
  text-align: center;
}

.project-content {
  text-align: center;
}

//-----------------------------

.footing {
  //background-color: red;
}

.ad {
  text-align: center;
}

.legal-content {
  text-align: center;
}
