//--------------Global styling---------------
a {
  //removes hyperlink blue text and underlines
  color: inherit;
  text-decoration: inherit;
}

.fade {
  padding: 50px;
  opacity: 1;
}

body {
  font-family: 'Playfair Display SC', serif;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

//--------------Heading styling---------------

.heading {
}

.heading-name {
  h1{
      text-align: center;
      font-size: 81px;
  }
}

.heading-content {
  h2 {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
  }

  text-align: center;
}

//--------------About styling---------------

.about {
  background-color: #f2f2f2;
}

.about-title {
  text-align: center;
}

.about-content {
  text-align: center;
}

//--------------Interests styling---------------

.interest {
}

.interest-title {
  text-align: center;
}

.interest-content {
  text-align: center;
  display:inline
}

#pie-legend {
  ul {
    list-style: none;
    li {
      padding-bottom: 10px;
    }
  }
  text-align: center;
  font-size: 24px;
}

//--------------Projects styling---------------

.project {
  background-color: #f2f2f2;
}

.project-title {
  text-align: center;
}

.project-content {
  text-align: center;
}

//--------------Footer styling---------------

.footing {
}

.ad {
  text-align: center;
}

.legal-content {
  text-align: center;
  font-style: italic;
}
