<div class="row align-items-center justify-content-around fading colored-row">
  <div class="row-title col-sm-2">
    <h1>About</h1>
  </div>

  <div class="about-content col-sm-8">
    <p>
      My about desription goes here.
    </p>
  </div>
</div>
