<div class="row align-items-center justify-content-around fading colored-row">
  <div class="row-title col-sm-2">
    <h1>About</h1>
  </div>

  <div class="about-content col-sm-8">
    <p>
      I am a self-taught student programmer residing in the Dallas/Fort Worth area with one fundamental objective: utilize modern day technologies to create an end product that will better, and enhance, the lives of others.
    </p>
  </div>
</div>
