<div class="row align-items-center justify-content-around fading colored-row">

  <div class="row-title col-sm-4">
    <h1>General Experience</h1>
  </div>

  <div class="experience-content col-sm-3 justify-content-center">
    <canvas id="experienceChart" width="500" height="500" style="max-height:500px; max-width:500px; display:inline-block;"></canvas>
  </div>

  <div class="col-sm-3">
    <div id="pie-legend">
    </div>
  </div>

</div>
