      <footer>
        <div class="row align-items-center justify-content-around footing fade">
            <div class="ad col-sm-2">
              <h3>Ad goes here</h3>
              <p style="text-align:center; font-size:11px;">Why are ads placed on a portfolio website?</p>
            </div>
            <div class="legal-content col-sm-4">
              <h5>Legal stuff goes here</h5>
              <p style="text-align:center; font-size:11px;">Updated: 7/15/17</p>
            </div>
            <div class="ad col-sm-2">
              <h3>Ad goes here</h3>
              <p style="text-align:center; font-size:11px;">Why are ads placed on a portfolio website?</p>
            </div>
        </div>
      </footer>
    </div>  <!-- /.container-fluid -->
  </body>
</html>
