      <footer>
        <div class="row align-items-center justify-content-around fade">
            <div class="ad col-sm-2">
              <!-- Personal Portfolio Ad
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-5147211959576213"
                   data-ad-slot="2559944625"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
              <p style="text-align:center; font-size:12px;">Why are ads placed on this portfolio website?</p>
              -->
            </div>
            <div class="col-sm-4">
              <h5 class="legal-content">Copyright &copy <%= Date.today.year %> Jason Hough </h5>
              <p style="text-align: center; font-size:15px; margin-bottom:8px;">Updated: 7/15/17</p>
              <p style="text-align: center; font-size:12px;">Created with the Middleman Framework</p>
            </div>
            <div class="ad col-sm-2">
              <!-- Personal Portfolio Ad
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-5147211959576213"
                   data-ad-slot="2559944625"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <p style="text-align:center; font-size:12px;">Why are ads placed on this portfolio website?</p>
              -->
            </div>
        </div>
      </footer>
    </div>  <!-- /.container-fluid -->
  </body>
</html>
