      <footer>
        <div class="row align-items-center justify-content-around fade colored-row">
            <div class="col-sm-2">
              <div class="ad">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5147211959576213"
                     data-ad-slot="2559944625"
                     data-ad-format="rectangle, horizontal">
                </ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              </div>
              <p class="why-ads">Why are ads placed on this portfolio website?</p>
            </div>
            <div class="col-sm-4">
              <h5 class="legal-content">Copyright &copy <%= Date.today.year %> Jason Hough </h5>
              <p id="updated-text">Updated: 7/<%= Date.today.day %>/17</p>
              <p id="created-with-text">Created with the Middleman Framework</p>
            </div>
            <div class="col-sm-2">
              <div class="ad">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5147211959576213"
                     data-ad-slot="2559944625"
                     data-ad-format="rectangle, horizontal">
                </ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              </div>
              <p class="why-ads">Why are ads placed on this portfolio website?</p>
            </div>
        </div>
      </footer>
    </div>  <!-- /.container-fluid -->
  </body>
</html>
