<div class="container-fluid">
  <div class="row heading fade">

    <div class="col-sm-12">
      <div class="row heading-name">
        <div class="col">
          <a href="/index.html"> <h1>Jason Hough</h1> </a>
        </div>
      </div>

      <div class="row heading-content">
        <div class="col mp-0">
          <a href="https://github.com/SIRmisterD"> <h2>Github</h2> </a>
          <a href="https://www.linkedin.com/in/jason-hough/"> <h2>LinkedIn</h2> </a>
          <a href="mailto:jasonhough0@gmail.com"> <h2>Email</h2> </a>
        </div>
      </div>
    </div>

  </div>
