<div class="container-fluid">
  <div class="row justify-content-around heading fade">

    <div class="col-sm-12 d-flex flex-column "> <!-- Right side col -->
      <div class="row heading-name"> <!-- Upper right row -->
        <div class="col">
          <a href="/index.html"> <h1>Jason Hough</h1> </a>
        </div>
      </div>

      <div class="row heading-content"> <!-- Lower right row -->
        <div class="col">
          <a href="https://github.com/SIRmisterD"> <h2>Github</h2> </a>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/jason-hough/"> <h2>LinkedIn</h2> </a>
        </div>
        <div class="col">
          <a href="mailto:jasonhough0@gmail.com"> <h2>Email</h2> </a>
        </div>
      </div>
    </div>

  </div>
