<div class="row align-items-center justify-content-around interest fade">

<div class="col-sm-4">
  <div id="pie-legend">
  </div>
</div>

<div class="interest-content col-sm-4 justify-content-center">
  <canvas id="interestsChart" width="500" height="500" style="max-height:500px; max-width:500px; display:inline-block;"></canvas>
</div>

  <div class="interest-title col-sm-2">
    <h1>Interests</h1>
  </div>
</div>
