<div class="row align-items-center justify-content-around project fade">
  <div class="project-title col-sm-2">
    <h1>Projects</h1>
  </div>

  <div class="project-content col-sm-8">
    <div class="row">
      <!--
      <div class="col">
        <div class="row">
          <div class="col-sm-4">
            <h1>col-sm-4 picture</h1>
          </div>
          <div class="col-sm-8">
            <h1>col-sm-8 picture</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>col picture</h1>
          </div>
        </div>
      </div>
    -->

    <p>Project carousel here</p>

    </div>
  </div>

</div>
