<div class="row align-items-center justify-content-around fade">

  <div class="col-sm-4 quotes">
    <h4>"Victoria Concordia Crescit"</h4>
    <p>~ Arsenal FC</p>
  </div>

  <div class="col-sm-4 quotes">
    <h4>"Think Different"</h4>
    <P>~ Steve Jobs, Apple Inc.</P>
  </div>

  <div class="row-title col-sm-2">
    <h1>Favorite Quotes</h1>
  </div>
</div>
