<div class="row align-items-center justify-content-around fading alt-row">

  <div class="col-sm-3 quotes ">
    <h4>"Victoria Concordia Crescit"</h4>
    <h5>(Victory Through Harmony)</h5>
    <p>~ Arsenal FC</p>
  </div>

  <div class="col-sm-2 quotes ">
    <h4>"Do or do not... There is no try"</h4>
    <p>~ Yoda</p>
  </div>

  <div class="col-sm-2 quotes ">
    <h4>"Think Different"</h4>
    <P>~ Steve Jobs, Apple Inc.</P>
  </div>

  <div class="row-title col-sm-3">
    <h1>Favorite Quotes</h1>
  </div>
</div>
