---
title: Welcome to Middleman
---

<div class="row align-items-center justify-content-around about fade">
  <div class="about-title col-sm-2">
    <h1>About title</h1>
  </div>
  <div class="about-content col-sm-8">
    <h1>About content</h1>
  </div>
</div>
<div class="row align-items-center justify-content-around interest fade">
  <div class="interest-content col-sm-8">
    <h1>Interests' content</h1>
  </div>
  <div class="interest-title col-sm-2">
    <h1>Interests' title</h1>
  </div>
</div>
<div class="row align-items-center justify-content-around project fade">
  <div class="project-title col-sm-2">
    <h1>Projects</h1>
  </div>
  <div class="project-content col-sm-8">

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-sm-4">
            <h1>col-sm-4 picture</h1>
          </div>
          <div class="col-sm-8">
            <h1>col-sm-8 picture</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>col picture</h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
